<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>EventAttract</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/javascripts/bootstrap/dist/css/bootstrap.css' />
    <script type="text/javascript" src="/javascripts/event_attract.js"></script>
    <script type="text/javascript" src="/javascripts/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/ractive/ractive.js"></script>
</head>
<body>
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/">Home</a>
          <a class="blog-nav-item" href="/login">login</a>
        </nav>
      </div>
    </div>


