<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>EventAttract</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/event_attract.js"></script>
</head>
<body>

